html {
  scroll-behavior: smoot
}
.home {
  background-color: darkblue;
  border: 1px solid white
  overflow: hidden;
  font-size: 45px;
  text-align: top;
}

.home a {
  background-color:blue;
  border: 1px white;
  background-repeat: no-repeat;
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
  font-family: fantasy;
}

.home a:hover {
  color: magenta;
  border-color: magenta;
}

.title {
  text-align: left;
}

