html {
  scroll-behavior: smooth;
}
body {
 text-align: center;
}
.home {
  background-color: white;
  border: 3px solid blue;
  overflow: hidden;
  font-size: 45px;
  text-align: top;
}

.home a {
  background-color: white;
  border: 3px solid blue;
  background-repeat: no-repeat;
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
  font-family: fantasy;
}

.home a:hover {
  color: blue;
  border-color: magenta;
  animation: scaleUp 1s forwards;
}
